body {
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

.card {
    border-radius: 20px !important;
    background: cornflowerblue !important;
    border: 10px solid white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8), -5px -5px 10px rgba(0,0,0,0.8),-5px 5px 10px rgba(0,0,0,0.8),5px -5px 10px rgba(0,0,0,0.8);
    height: 100vh !important;
}

.btn, .btn-small {
    background: orange !important;
    color: white !important;
    border-radius: 20px !important;
    box-shadow: 0 0 10px rebeccapurple;
    margin-bottom: 24px;
}

.nav-wrapper {
    background: goldenrod !important;
}

input {
    background: lightgrey !important;
    box-shadow: none !important;
    border-bottom: none !important;
    -webkit-box-shadow: none !important;
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
    padding: 0 12px !important;
    margin-bottom: 24px !important;
}


input.valid  {
    background: lightgreen !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;

}
input.invalid  {
    background: indianred !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;


}
button {
    cursor: pointer;
    background-color: transparent;
    border: none
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

svg {
    display: block;
}

input,select,button,textarea {
    font: inherit;
}


*,
*::after,
*::before {
    box-sizing: border-box;
}

.input-field {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s !important;
}

.mb-3 {
    margin-bottom: 24px;
}
.mb-4 {
    margin-bottom: 32px;
}
.mb-2 {
    margin-bottom: 16px;
}
.mb-1 {
    margin-bottom: 8px;
}
.mt-1 {
    margin-top: 8px;
}
.mt-2 {
    margin-top: 16px !important;
}
.m-0 {
    margin: 0 !important;
}
.mb-0 {
    margin-bottom: 0px;
}

.fit {
    width: fit-content !important;
}

.site-logo {
    margin-left: 64px;
}

@media only screen and (min-width: 601px) {
    .site-logo {
        margin-left: 56px;
    }
}

@media only screen and (min-width: 993px) {
    .site-logo {
        margin-left: 0;
    }
}



    .ml-1 {
    margin-left: 8px;
}

.center-x {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.m-x-auto {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
}

.w100 {
    width: 100%;
}

.alert {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.alert-danger {
    background: rgb(236, 221, 220);
    color: rgb(176, 124, 116)
}

.alert-info {
    background: #039be5;
    color: white;
}


.toast {
    position: fixed;
    z-index: 9999;
    left: 16px;
    bottom: 16px;
    background: rgba(3, 155, 219, 0.6);
    padding: 16px;
    color: white;
    top: auto;
    width: 200px;
    border-radius: 8px;
    overflow-wrap: break-word;
    height: fit-content;
}

.toast-close {
    position: absolute;
    top: 8px;
    right: 8px;
    color: red;
    border: none;
    background: navajowhite;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0;
    line-height: 0;
}
.m-a {
    margin: auto;
}
.inline-form {
    display: block;
}

.home-info {
    border: 10px solid black;
    padding: 32px !important;
    border-radius: 0px;
}

.home-info li {
    border-left: 2px solid darkred;
    border-right: 2px solid darkred;
    border-top: 1px solid darkred;
    border-bottom: 1px solid darkred;
}

.home-info-item-header {
    border-left: none !important;
    border-right: none !important;
    font-size: 32px;
}
.home-info-item {
    border-left: none !important;
    border-right: none !important;
    display: flex;
    column-gap: 20px;
}

.home-info-item {
    padding: 8px 12px !important;
    font-size: 18px;
    column-gap: 8px;
    align-items: center;
    overflow-wrap: break-word;
}

.home-info-value {
    overflow-wrap: anywhere;
}

.pt-1 {
    padding-top: 8px;
}

.p-1 {
    padding: 8px !important;
}

.pb-1 {
    padding-bottom: 8px;
}
.no-shadow {
    box-shadow: none !important;
}
.p2 {
    padding: 16px !important;
}
.p0 {
    padding: 0 !important;
}

.card-content-item {
    font-size: 18px;
    background: orange !important;
    margin-bottom: 8px !important;
    border-radius: 16px !important;
    padding: 5px 10px !important;
    color: white !important;
    /* text-align: left; */
    width: 100% !important;
    margin-right: auto !important;
    /* margin: 0 20px 0 0; */
}
.card-content img {
    border-radius: 30px;
    border: 2px solid saddlebrown;
    margin-bottom: 10px;
}

.collection.with-header.home-info {
    width: 50%;
}

.column-cert {
    flex-direction: column !important;
    width: 100%;
    padding: 0 !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    column-gap: 6px;
    background-color: black !important;
    color: white;
    margin-bottom: 16px !important;
}

.sidenav-trigger {
    display: block !important;
}

.column-cert-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 8px;
    overflow-wrap: anywhere;
}


.mini-btn {
    font-size: 11px !important;
    padding: 0 8px !important;
}

.between {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-goods {
    height: 100%;

}
.card-goods-story {
    box-shadow: none !important;
    background: none !important;
}

.profile-row {
    display: flex;
    flex-direction: row;
    row-gap: 24px;
}

.btns-group {
    display: flex;
    row-gap: 16px;
}

.wrap{
    flex-wrap: wrap !important;
    row-gap: 16px !important;
}

.wrap * {
    margin-left: auto !important;
    margin-right: auto !important;
}

.modal {
    width: 95%;
    min-height: 60%;
    flex-direction: column;
}
.modal > * {
    transform: translateY(50%);
}

@media (max-width: 900px) {
    .profile-row {
        flex-direction: column !important;
        align-items: center !important;
    }
}

@media (max-width: 600px) {
    .home-info {
        width: 300px !important;
        padding: 8px !important;
    }
    .inline-form * {
        width: 100% !important;
        margin-bottom: 8px !important;
    }
    .inline-form *:last-child {
        margin-bottom: 0 !important;
    }
    .btns-group {
        flex-direction: column !important;
    }
    .btns-group * {
        width: 100% !important;
    }
}

